body {
  padding: 10px;
  font-family: sans-serif;
}

#googleBtn {
  margin: 5px;
  padding: 0;
  border: 0;
  background-color: transparent;
}

#googleBtnImg {
  height: 40px;
}

#googleBtnImg:hover {
  opacity: 0.5;
}
